Hey {{username}}<br>

Welcome to <b>TECHUTSAV</b>,<br>
We are excited to have you onboard. You are about to experience the largest technical fest at The Thiagarajar College of Engineering, Madurai.<br>
<br>
Event Detial:<br>
Venue: Thiagarajar College of Engineering, Madurai<br>
Date: May 28<br>
<br><br>

Just one more step to go -> Complete the payment in the website to confirm your registration.<br>
In the mean time checkout the events on the website and make yourself prepared.<br>
<br>
Your username: {{username}}<br>
Your Verification QR Code:<img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data={{email}}" alt="" title="{{ref}}" width="150" height="150" style="display: block; margin-left:auto; margin-right: auto;"/><br>
<br>
ALL THE BEST !!<br>
<br>
Regards,<br>
TCE TECHUTSAV TEAM<br>