<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TECHUTSAV - Reports</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">
    <link rel="icon" href="/static/img/LOGOo.png" type="image/png">
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/venobox/venobox.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
        #header.header-scrolled,
#header.header-fixed {
    background: #830000;
    height: 70px;
    padding: 15px 0;
    transition: all 0.5s;
}
#header #logo img {
    padding: 0;
    margin: 0;
    max-height: 80px;
}
    </style>


</head>

<body>


    <header id="header" class="header-scrolled">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="{% url 'index' %}" class="scrollto"><img src="/static/img/LOGOo.png" alt="" title="" width="65" height="60" style="margin-top: -8px;  "></a>

            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url 'index' %}">Home</a></li>\
                    <li><a href="/depts/">Departments</a></li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Departments
                        </a>
                        <div class=" nav-menu dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/dept/cse/">
                                <h6 class="dept-name" style="color: black;  font-weight: bold;">CSE</h6>
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/dept/civil/">
                                <h6 class="dept-name" style="color: black;  font-weight: bold;">CIVIL</h6>
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/dept/mech/">
                                <h6 class="dept-name" style="color: black;  font-weight: bold;">MECHANICAL</h6>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/dept/eee/">
                                <h6 class="dept-name" style="color: black;  font-weight: bold;">EEE</h6>
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/dept/ece/">
                                <h6 class="dept-name" style="color: black;  font-weight: bold;">ECE</h6>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/dept/it/">
                                <h6 class="dept-name" style="color: black;  font-weight: bold;">IT</h6>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/dept/mechatronics/">
                                <h6 class="dept-name" style="color: black;  font-weight: bold; ">MECHATRONICS</h6>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/dept/mca/">
                                <h6 class="dept-name" style="color: black;  font-weight: bold;">MCA</h6>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/dept/arch/">
                                <h6 class="dept-name" style="color: black;  font-weight: bold;">ARCHITECTURE</h6>
                            </a>

                        </div>
                    </li> -->
                    {% if request.user.is_staff %}
                    <li><a href="/payment/report">Paid Report</a></li>
                    <li><a href="/user/report">Register Report</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main style="padding-top: 100px;">
        <!-- <h1 style="text-align: center;">{{report}} Data</h1> -->
        <!-- <div id="grid"></div> -->
        <div id="chart_div" style="align-items: center;"></div>


    </main>

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript /static/Libraries -->
    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/superfish/hoverIntent.js"></script>
    <script src="/static/lib/superfish/superfish.min.js"></script>
    <script src="/static/lib/wow/wow.min.js"></script>
    <script src="/static/lib/venobox/venobox.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>



    <script type="text/javascript">


google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawMultSeries);

function drawMultSeries() {
    var data = {{data|safe}};
  

      var data = google.visualization.arrayToDataTable(
            data
      );


var chartAreaHeight = data.getNumberOfRows() * 30;
// add padding to outer height to accomodate title, axis labels, etc
var chartHeight = chartAreaHeight + 80;

      var options = {
        title: 'Online Paid Report',
        chartArea: {width: '80%'},
        height: chartHeight,
	    chartArea: {
	        height: chartAreaHeight
	    },

        hAxis: {
          title: 'Total Count',
          minValue: 0
        },
        vAxis: {
          title: 'Departments'
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
    </script>



</body>

</html>