
{% extends 'techutsav/base_data.html' %}
{% block content %}
<h1 style="text-align: center;">Project Showcase Registration</h1>
<div class="container" style="height: 10%;">
</div>
<div class="row">
    <!-- <div class="col-sm-2">
        


    </div> -->
    
    <div class="col-sm-8">
        <h1>Rules:</h1>
        <pre style="font-size: 2rem;">Model should be a real time live model.
Team Members: 3
You can participate in either:
    Hardware Edition
    Software Edition</pre>
        <h1>Prizes</h1> <pre style="font-size: 2rem;">(Prizes are seperate for both editions)
1st Prize: Rs.5000
2nd Prize: Rs.3000
3rd Prize: Rs.2000</pre>
<h1 style="">Register Now</h1>
<button  class="btn btn-sm btn-primary center"><p style="font-size: 1.5rem; display: inline;" ><a href="https://docs.google.com/forms/d/e/1FAIpQLSePhptRlN1xYlDbvGIqW34B19eLCYUKO_dfaGzSkSa4jmSRPw/viewform?usp=sf_link" style="color: white !important;"> Register Your Idea</a></p></button>
</div>

{% endblock %}