{% extends 'techutsav/base.html' %}
{% block content %}
<div class="overlay">
    {% for x  in data %}
    <div class="event-details {{x.eid}}-event">
        <i class="fa fa-3x fa-times modal-close-btn" eventNo="{{x.eid}}" aria-hidden="true"></i>
        <div class="details">
            <h1>{{x.event_name}}</h1>
            <div class="details-card">
                <div class="details-item details-img">
                    <img style="height:90%" src="{{x.thumbnail_front.url}}" alt="Event">
                </div>
                <div class="details-item details-category">
                    <h5>Details</h5>
                    <h4>Food and Registration Kit will be provided.</h4>
                    <table>
                        {% if x.type_of_event != "Workshops" %} <tr>
                            <td class="bold">Max Persons per team</td>
                            <td>:</td>
                            <td>{{x.event_max_participants}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td class="bold">Venue & Time</td>
                            <td>:</td>
                            <td class="dateEvent">{{x.event_venue}} - {{x.event_timing}}</td>
                        </tr>
                        <!-- <tr>
                            <td class="bold">Timing</td>
                            <td>:</td>
                            <td class="dateEvent">{{x.event_timing}}</td>
                        </tr> -->
                        <tr>
                            <td class="bold">Contact</td>
                            <td>:</td>
                            <td class="dateEvent">{{x.event_phno}}</td>
                        </tr>
                        <tr>
                            <td class="bold">Registration Fee</td>
                            <td>:</td>
                            
                            <td>Rs.300/- per head</td>
                            
                        </tr>

                        <tr>
                            <td class="bold">Description</td>
                            <td>:</td>
                            <td>{{x.event_extra|linebreaks}}</td>
                        </tr>

                        

                    </table>

                </div>
                <div class="details-item details-btns">
                    <!-- <button class="btn details-btn" id="nfsBtn">Rules</button> -->
                    <!-- <form action='/payment/{{small}}{{x.eid}}/'> -->

                    {% if x.event_name != "micRO-BOtic"  %}
                    <button class="btn details-btn RegisterBtn" onclick="dd()">Register</button>
                    {% endif %}

                    {% if x.event_name == "micRO-BOtic"  %}
                    <form method="POST" action="/payment/{{short}}/{{x.eid}}/">
                        {% csrf_token %}
                        <button type="submit" class="btn details-btn RegisterBtn">Confirm</button>
                        <div class="bold green small-font">(Since, it is an additional event you have to confirm your
                            participation)</div>
                    </form>
                    {% endif %}

                    <div class="bold green small-font">(OFFLINE REGISTRATION IS ALSO AVAILABLE, CASH Payment is
                        allowed.)</div>

                    {% if x.type_of_event != "Workshops"   %}
                    {% if x.event_name != "micRO-BOtic"   %}

                    {% endif %}
                    {% endif %}

                </div>
                <script>
                    function dd() {
                        window.location.href = '/payment/workshop/{{x.eid}}/';
                    }

                </script>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<section style="padding-top: 100px;">

    <div class="container">

        <div>

            <h4 class="headline-section-dept wow jackInTheBox">{{full}}</h4>

            
            <h5 class="subline-section wow jackInTheBox" data-wow-duration="0.6s" data-wow-delay="0.3s">
                WORKSHOP</h5>

            <!-- <hr> -->
            <div class="events">

                {% for x  in workshops %}
                <div eventNo="{{x.eid}}" data-wow-duration="1s" class="event wow fadeInDown">
                    <div class="card card-aa">
                        <div class="card-item card-front card-ss">
                            <img src="{{x.thumbnail_front.url}}" alt="{{x.event_name}}">
                            <div class="headText" >
                                
                                <p >{{x.event_name}}</p>
                                
                            </div>
                        </div>

                        {% if x.thumbnail_back %}
                        <div class="card-item card-back">
                            <img src="{{x.thumbnail_back.url}}" alt="{{x.event_name}}">
                            {% if x.event_more %}
                            <div class="eventName">
                                <p>{{x.event_more}}</p>
                            </div>
                            {% endif %}
                            <div class="headText">
                                <p>Know More</p>
                            </div>
                        </div>
                        {%else%}
                        <div class="card-item card-back">
                            <img src="{{x.thumbnail_front.url}}" alt="{{x.event_name}}">
                            {% if x.event_more %}
                            <div class="eventName">
                                <p>{{x.event_more}}</p>
                            </div>
                            {% endif %}
                            <div class="headText">
                                <p>Know More</p>
                            </div>
                        </div>


                        {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div>
            
            <!-- <hr> -->

        </div>
    </div>
</section>

{% endblock %}